<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WFO Attendance Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      @if(username) {
        <div class="d-flex flex-row navbar-nav ms-auto mb-2 mb-lg-0">
          <span class="align-self-center">{{ username}}</span>
          <button type="button" class="btn ms-1" (click)="logout()"><i class="bi bi-power"></i></button>
        </div>
      }
    </div>
  </div>
</nav>
